{
  "extends": ["eslint:recommended", "next"],
  "rules": {
    // "react/no-unescaped-entities": "off",
    // "@next/next/no-page-custom-font": "off"
    // "semi": "error"
    // "no-unused-vars": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
