{
  "extends": ["eslint:recommended"],
  "rules": {
    // "react/no-unescaped-entities": "off",
    // "@next/next/no-page-custom-font": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
